<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popcorn</title>
    <link rel="stylesheet" type="text/css" href="style.css"  />
</head>
<body>

<h1>POPCORN VIDEO PLAYER</h1>

<searchBar > 
	<div class="searchBar">
	<input type="search" placeholder="Copy-Paste the Youtube link">
<button id="watch">Watch</button>
	</div>
</searchBar>
<div class="content">


<History >
	<div class="History">
	<h3 id="history">History</h3>
	<ul>
  		<li>2 avocats (pelés et avec les noyaux retirés)</li>
  		<li>le jus d'un citron</li>
	</ul>
	</div>
</History>


<videoView >
	<div class="videoView">
		<iframe width="840" height="500"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<button id="add">Add to bookmarks</button>
	</div>

</videoView>


<Bookmarks >
	<div class="bookmarks">
	<h3>Bookmarks</h3>
	<ul>
  		<li>2 avocats (pelés et avec les noyaux retirés)</li>
  		<li>le jus d'un citron</li>
	</ul>
	</div>
</Bookmarks>
</div>
</body>
</body>
</html>